:root {
  --black: #0b0b0b;
  --black-soft: #151515;
  --black-warm: #1b1914;

  /* GOLD */
  --gold: #d4af37;
  --gold-light: #ead783;
  --gold-dark: #aa891f;
  --gold-soft: #f3e9c4;

  /* LIGHT */
  --paper: #f6f3ec;
  --paper-light: #fcfaf5;

  --white: #ffffff;
  --muted: #756f65;
  --line: #ded7c8;

  --lime: var(--gold);
}